*{
    margin: 0px;
}




nav{
    position:fixed;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #2264DC;

    color: black;
    z-index: 99;
   
}

nav > ul{
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
    margin-top: 7px;

}

nav > ul > li{
    font-size: 16px;
    
}

nav > ul > li > a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.login{
    position: relative;
    background-color: #2264DC;
    border: 1px solid white;
    color: white;
    margin-right: 30px;
    width: 100px;
    height: 35px;

}

.logo{

    width: 15%;
    height: 100%;
    background-color: rgb(232, 232, 232);


}

.Home{
 
   display: flex;
 
    height: 100vh;
    background-color: #2264DC;
}

.left{


    background-image: url(pexels-ready-made-4008890.jpg);
    background-size: contain;
    opacity: 0.8;
    width: 90%;
    height: 100%;
    background-color: rgb(168, 168, 168);
}

.right{
    position: relative;
    display: flex;
    gap : 10px;
    top: 30%;
    right: 18%;
    width: 800px;
    height: 40%;
    background-color: transparent;
}

.left-side{
    background-color: #2264DC;
    opacity: 0.7;
    width: 15%;
    height: 100%;

}

.right-side{
    width: 80%;
   
    background-color: white;
}

.title{
    width: fit-content;
    margin: auto;
    margin-top: 25px;
    
}
.title >p{
    text-align: center;
    font-size: 16;
    font-weight: 400;
    margin-top: 25px;
}

.title >h3{
   text-align: center; 
}



.start{
    position: relative;
    left: 30%;
    top : 26%;
    width: 200px;
    height: 45px;
    border: 1px solid rgba(0,0,0,0.08);
    box-shadow: 0 7px 25px rgba(0,0,0,0.1);
    background-color: #2264DC;
    color: white;
    border: none;
}

.services{
    
    height: 100vh;
    padding-top: 40px;
   
}

.Service{
    margin-top: 50px;
    text-align: center;
  
}


.Cards{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 80%;
}

.btn.btns{
    display: block;
    margin: auto;
    color: white;
    background-color: #2264DC;


}

.About{
    display: flex;

    height: 100vh;
    width: 100%;
}

.text{
    background-color: #2264DC;
    width: 50%;
    height: 100%;
}

.text > h1{
    text-align: center;
    margin-top: 70px;
    color: white;
}

.text > p{
    font-size: 20px;
    width: 75%;
    text-align: justify;
    margin-top: 40px;
    margin-left: 40px;
    color: rgb(229, 229, 229);
}
.pic{
    position: relative;
}
.sidepic{
    position: relative;
    background-image: url(pexels-mike-b-114820.jpg);
    background-size: cover;
   
    top: 30%;
    right: 10%;
    width: 500px;
    height: 300px;
  
}

.Portfolio{
    
    height: 100vh;
    width: 100%;
    padding: 20px;
    

}
.Portfolio h2{
    text-align: center;
    margin-top: 50px;

}

.grid{
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: 200px 200px;
    justify-content: center;
    grid-gap: 20px;
    margin-top: 60px;
   
}

.pic1{

    background-image: url(/Portfolio/pic1.jpg);
    background-size: cover;

}
.pic2{

    background-image: url(/Portfolio/pic2.jpg);
    background-size: cover;

}
.pic3{

    background-image: url(/Portfolio/pic3.jpg);
    background-size: cover;

}
.pic4{

    background-image: url(/Portfolio/pic4.jpg);
    background-size: cover;

}
.pic5{

    background-image: url(/Portfolio/pic5.jpg);
    background-size: cover;

}
.pic6{

    background-image: url(/Portfolio/pic6.jpg);
    background-size: cover;

}

.pic7{

    background-image: url(/Portfolio/pic7.jpg);
    background-size: cover;

}
.pic8{

    background-image: url(/Portfolio/pic8.jpg);
    background-size: cover;

}

.picture{
    background-color: gray;
}

.Footer{
    display: flex;
    height: 93vh;
    width: 100%;
}

.Info{
    width: 50%;
    height: 100%;
    background-color: #2264DC;
}

.Form{

    width: 50%;
    height: 100%;

}

form{
    width: 70%;
    margin: auto;
    margin-top:100px;
}

.infotext{
    display: flex;
    gap: 20px;
    align-items: center;
    color: white;
}

.infotext ion-icon{
    font-size: 20px;
}

.coord{
    margin-top: 30px;
    padding: 20px;
}
